@model Book

@{
    ViewBag.Title = "Save";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookID)
        @Html.HiddenFor(model => model.BookIDSource)
        @Html.HiddenFor(model => model.SmallThumbnail)
        @Html.HiddenFor(model => model.Thumbnail)
        @Html.HiddenFor(model => model.ISBN_10)
        @Html.HiddenFor(model => model.ISBN_13)

        <div class="form-group">
            <div class="col-md-2 ">
            </div>
            <div class="col-md-10 ">
                <img src="@Model.Thumbnail" alt="@Model.Title" class="center-block" />
            </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Authors, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors, new { htmlAttributes = new { @class = "form-control" } })
            </div>
          
            <div class="col-md-4 col-md-offset-2 form-inline">
                @Html.TextBox("txtNewAuthor", null, new { @class = "form-control" })
                <input type="button" id="btnAddAuthor" value="Add" class="btn btn-primary" />
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @if (Session["SearchTerm"] != null)
    {
        @Html.ActionLink("Back to Search", "Search", new { searchTerm = Session["SearchTerm"], currentPage = Session["CurrentPage"] })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnAddAuthor').on('click', function () {

                var authorName = $('#txtNewAuthor').val();
                var lastAuthor = $('.shelf-author:last');
                //var lastAuthorFormName = $('.shelf-author:last :text').attr('name');
                var lastAuthorFormName = $(lastAuthor).find(':text').attr('name');
                //alert(lastAuthorFormName)


                lastAuthor.after('<div class="form-group shelf-author">' +
                                                    '<div class="col-md-10">' +
                                                        '<input class="form-control text-box single-line" id="Authors_2__DisplayName" name="Authors[2].DisplayName" type="text" value="' + authorName + '">' +
                                                    '</div>' +
                                               '</div>')

                $('#txtNewAuthor').val('');

            });
        });

    </script>
}

@*<div class="col-md-10 shelf-author">
    <input data-val="true" data-val-number="The field AuthorID must be a number." data-val-required="The AuthorID field is required." id="Authors_2__AuthorID" name="Authors[2].AuthorID" type="hidden" value="0">
    <input class="form-control text-box single-line" id="Authors_2__DisplayName" name="Authors[2].DisplayName" type="text" value="Mario Szpuszta">
</div>*@
